@import "tailwindcss";

:root {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--dark-theme-primary-50);

  --dark-theme-primary: #3a3a3f;
  --dark-theme-primary-50: #3a3a3f83;
  --dark-theme-primary-contrast: #dedeeb;
  --light-theme-primary: #dedeeb;
  --light-theme-primary-50: #dedeeb85;
  --light-theme-primary-contrast: #3a3a3f;
}
