@import "tailwindcss";

:root {
  min-height: 100vh;
  min-width: 100vw;

  --dark-theme-primary: #3a3a3f;
  --dark-theme-primary-contrast: #dedeeb;
  --light-theme-primary: #dedeeb;
  --light-theme-primary-contrast: #3a3a3f;
}
